In [1]:
#노후주택 데이터 읽어오기
import pandas as pd

df = pd.read_excel('old house.xlsx')
df

,시도,시군구,읍면동,상세주소,특수지명,블록,로트,건물명,동명,통계용도,대지면적(㎡),건축면적(㎡),연면적(㎡),지하층수(층),지상층수(층),허가일자,착공일자,사용승인일자,동용도
0,서울특별시,강북구,미아동,791-2175,NaN,NaN,NaN,NaN,NaN,주거용 > 단독주택 > 다가구주택,241.00,96.57,388.24,1,4,1986-07-01,NaN,1986-12-01,단독주택
1,서울특별시,강북구,미아동,791-2193,NaN,NaN,NaN,NaN,NaN,주거용 > 단독주택 > 다가구주택,0.00,52.92,166.29,1,2,1990-01-25,NaN,1990-09-14,단독주택
2,서울특별시,강북구,미아동,791-2195,NaN,NaN,NaN,NaN,NaN,주거용 > 단독주택 > 다가구주택,0.00,60.35,198.59,1,3,NaN,NaN,1983-11-24,단독주택
3,서울특별시,강북구,미아동,791-2202,NaN,NaN,NaN,NaN,NaN,주거용 > 단독주택 > 다가구주택,0.00,105.70,318.12,1,2,1991-01-23,NaN,1991-11-18,단독주택
4,서울특별시,강북구,미아동,791-2259,NaN,NaN,NaN,NaN,NaN,주거용 > 단독주택 > 다가구주택,99.09,58.98,167.90,1,2,1992-04-30,1992-06-26,1992-09-09,단독주택
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9547,서울특별시,강서구,화곡동,342-92,NaN,NaN,NaN,NaN,NaN,주거용 > 단독주택 > 다가구주택,190.00,72.18,211.30,1,2,1990-02-21,NaN,1990-09-29,단독주택
9548,서울특별시,강서구,염창동,253-16,NaN,NaN,NaN,NaN,NaN,주거용 > 공동주택 > 다세대주택,232.20,98.34,328.40,1,3,1988-10-07,1988,1989-04-04,공동주택
9549,서울특별시,강서구,화곡동,56-507,NaN,NaN,NaN,NaN,NaN,주거용 > 공동주택 > 다세대주택,185.00,99.36,386.64,1,3,1991-01-30,1991-02-07,1991-07-05,공동주택
9550,서울특별시,강서구,화곡동,56-267,NaN,NaN,NaN,NaN,NaN,주거용 > 단독주택 > 다가구주택,169.00,97.15,263.50,1,2,1991-05-23,1991-09-25,1992-02-28,단독주택
9551,서울특별시,강서구,화곡동,1115-9,NaN,NaN,NaN,NaN,NaN,주거용 > 공동주택 > 다세대주택,175.90,87.84,248.56,1,2,1986-07-10,1987-03-19,1987-07-04,공동주택

In [ ]:
df['시군구'].unique()

array(['강북구', '은평구', '강서구'], dtype=object)

In [ ]:
# 시도, 시군구, 읍면동, 상세주소 컬럼 합쳐서 주소 데이터 생성
df['주소'] = df['시도']+" "+df['시군구']+" "+df['읍면동']+" "+df['상세주소']
df

,시도,시군구,읍면동,상세주소,특수지명,블록,로트,건물명,동명,통계용도,대지면적(㎡),건축면적(㎡),연면적(㎡),지하층수(층),지상층수(층),허가일자,착공일자,사용승인일자,동용도,주소
0,서울특별시,강북구,미아동,791-2175,NaN,NaN,NaN,NaN,NaN,주거용 > 단독주택 > 다가구주택,241.00,96.57,388.24,1,4,1986-07-01,NaN,1986-12-01,단독주택,서울특별시 강북구 미아동 791-2175
1,서울특별시,강북구,미아동,791-2193,NaN,NaN,NaN,NaN,NaN,주거용 > 단독주택 > 다가구주택,0.00,52.92,166.29,1,2,1990-01-25,NaN,1990-09-14,단독주택,서울특별시 강북구 미아동 791-2193
2,서울특별시,강북구,미아동,791-2195,NaN,NaN,NaN,NaN,NaN,주거용 > 단독주택 > 다가구주택,0.00,60.35,198.59,1,3,NaN,NaN,1983-11-24,단독주택,서울특별시 강북구 미아동 791-2195
3,서울특별시,강북구,미아동,791-2202,NaN,NaN,NaN,NaN,NaN,주거용 > 단독주택 > 다가구주택,0.00,105.70,318.12,1,2,1991-01-23,NaN,1991-11-18,단독주택,서울특별시 강북구 미아동 791-2202
4,서울특별시,강북구,미아동,791-2259,NaN,NaN,NaN,NaN,NaN,주거용 > 단독주택 > 다가구주택,99.09,58.98,167.90,1,2,1992-04-30,1992-06-26,1992-09-09,단독주택,서울특별시 강북구 미아동 791-2259
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9547,서울특별시,강서구,화곡동,342-92,NaN,NaN,NaN,NaN,NaN,주거용 > 단독주택 > 다가구주택,190.00,72.18,211.30,1,2,1990-02-21,NaN,1990-09-29,단독주택,서울특별시 강서구 화곡동 342-92
9548,서울특별시,강서구,염창동,253-16,NaN,NaN,NaN,NaN,NaN,주거용 > 공동주택 > 다세대주택,232.20,98.34,328.40,1,3,1988-10-07,1988,1989-04-04,공동주택,서울특별시 강서구 염창동 253-16
9549,서울특별시,강서구,화곡동,56-507,NaN,NaN,NaN,NaN,NaN,주거용 > 공동주택 > 다세대주택,185.00,99.36,386.64,1,3,1991-01-30,1991-02-07,1991-07-05,공동주택,서울특별시 강서구 화곡동 56-507
9550,서울특별시,강서구,화곡동,56-267,NaN,NaN,NaN,NaN,NaN,주거용 > 단독주택 > 다가구주택,169.00,97.15,263.50,1,2,1991-05-23,1991-09-25,1992-02-28,단독주택,서울특별시 강서구 화곡동 56-267
9551,서울특별시,강서구,화곡동,1115-9,NaN,NaN,NaN,NaN,NaN,주거용 > 공동주택 > 다세대주택,175.90,87.84,248.56,1,2,1986-07-10,1987-03-19,1987-07-04,공동주택,서울특별시 강서구 화곡동 1115-9

In [ ]:
# 필요한 데이터만 추출
address=df['주소']
print(address.head())

0    서울특별시 강북구 미아동 791-2175
1    서울특별시 강북구 미아동 791-2193
2    서울특별시 강북구 미아동 791-2195
3    서울특별시 강북구 미아동 791-2202
4    서울특별시 강북구 미아동 791-2259
Name: 주소, dtype: object

In [ ]:
#! pip install -U googlemaps

#구글맵 api 로드
import googlemaps
from datetime import datetime


my_key = "구글 지오코딩 API키값" #구글 API 키값
maps = googlemaps.Client(key=my_key)  # my key값 입력

#위도, 경도 변환 함수
# def getLoc(addr):    
#     gmaps = googlemaps.Client(key=my_key)  
#     geocode_result = gmaps.geocode(addr)   
#     n_lat = geocode_result[0]['geometry']['location']['lat']
#     n_lng = geocode_result[0]['geometry']['location']['lng']
#     loc = {'lat':n_lat, 'lng':n_lng}
#     return loc

In [6]:
import time


lat = []  #위도
lng = []  #경도

i=0

t1 = time.time()

for address in df['주소']:   
    i = i + 1
    try:
        geo_location = maps.geocode(address)[0].get('geometry')
        lat.append(geo_location['location']['lat'])
        lng.append(geo_location['location']['lng'])
        

    except:
        lat.append('')
        lng.append('')
        print("%d번 인덱스 에러"%(i))


print(time.time() - t1) #지오코딩 총 구동 시간

1188번 인덱스 에러

In [ ]:
# 변환한 데이터프레임만들어 출력하기
df2=pd.DataFrame({'건물명':df['건물명'], '주소':df['주소'],'위도':lat,'경도':lng})
#pd.DataFrame([[lat,lng]],columns=['lat','lng'])

df2

      건물명                      주소         위도          경도
0     NaN  서울특별시 강북구 미아동 791-2175  37.621922  127.017874
1     NaN  서울특별시 강북구 미아동 791-2193  37.621576  127.018403
2     NaN  서울특별시 강북구 미아동 791-2195  37.621582  127.018516
3     NaN  서울특별시 강북구 미아동 791-2202  37.621396  127.018986
4     NaN  서울특별시 강북구 미아동 791-2259  37.621069  127.019902
...   ...                     ...        ...         ...
9547  NaN    서울특별시 강서구 화곡동 342-92  37.531598  126.848261
9548  NaN    서울특별시 강서구 염창동 253-16  37.550273  126.876017
9549  NaN    서울특별시 강서구 화곡동 56-507  37.541788  126.849893
9550  NaN    서울특별시 강서구 화곡동 56-267  37.540292  126.851700
9551  NaN    서울특별시 강서구 화곡동 1115-9  37.553446  126.852147

[9552 rows x 4 columns]

In [ ]:
df2.to_excel('구글_주소_위도_경도.xlsx')

In [ ]:
# 데이터 확인
df2.info()

# #위도에서 0값 존재 확인
df2[df2.위도==0]['주소']

#경도에서 0값 존재 확인
df2[df2.경도==0]['주소']

#위도, 경도에서 중복값 확인
sum((df2.duplicated(['위도'])==True) & (df2.duplicated(['경도'])==True))
#동일 위도, 경도는 247개 존재


#중복여부를 확인하기 위해 데이터 프레임 생성
df3 = df2

df3['중복여부'] = (df2.duplicated(['위도'])==True) & (df2.duplicated(['경도'])==True)

df3.loc[(df3['중복여부']==True)]

      건물명                    주소         위도          경도  중복여부
35    NaN  서울특별시 강북구 미아동 679-17  37.618200  127.022953  True
101   NaN  서울특별시 강북구 미아동 87-210  37.615564  127.033982  True
103   NaN   서울특별시 강북구 미아동 90-45  37.615896  127.031608  True
181   NaN  서울특별시 강북구 미아동 320-12  37.620651  127.023380  True
208   NaN  서울특별시 강북구 미아동 258-81  37.626698  127.031540  True
...   ...                   ...        ...         ...   ...
9111  NaN  서울특별시 강서구 방화동 182-37  37.571435  126.818311  True
9114  NaN   서울특별시 강서구 화곡동 955-7  37.549127  126.853810  True
9116  NaN  서울특별시 강서구 화곡동 772-53  37.545357  126.849951  True
9409  NaN   서울특별시 강서구 등촌동 520-3  37.547514  126.860181  True
9411  NaN  서울특별시 강서구 등촌동 654-43  37.555360  126.855774  True

[247 rows x 5 columns]